/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 10px 50px;
  font-size: 250%;
  display: flex;
  flex-direction: column;
  justify-content: center
}
article {
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 120%;
}
img {
	max-width: 100%;
  
}
main {
}
section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
figure {
	margin: 0;
}
figcaption {
  font-size: .8em;
  font-size: 90%;
  margin-bottom: 90px;
}

@media (min-width: 768px) {
  body {
    background-color: rgb(167, 218, 202);
  }
  section {
    max-width: 1150px;
    flex-flow: wrap;
    justify-content: space-between;
  }

  figure {
    margin-left: 30px;
  }
}



